@charset "UTF-8";



body {
    background-color: rgb(206, 255, 239);
    font-family: Arial, Helvetica, sans-serif;
}

h1 { 
    color: rgb(19, 59, 44);
}

h1#principal {
    text-align: center;
    background-color: rgb(9, 53, 35);
    color: rgb(138, 212, 200);
}

h2 { 
    color: rgb(62, 150, 74);
}

.basico{
    color: rgb(6, 158, 69);
}

.intermediario{
    color: rgb(163, 173, 50);
}

.avançado{
    color: rgb(204, 49, 41);
}