@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #E69CCD, #E571BD, #E647BA );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #772c6293 ;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #E500D5;
    text-align: center;
    text-shadow: 1px 1px 2px #7c386986;
}

h2{
    color: #E69CCD;
}
p{
    text-align: justify;
}
